<appSettings>
	<add key="MailServer" value="develop-smtp.vidly.com" />
	<add key="FacebookAppId" value="374991787270999" />
	<add key="FacebookAppSecret" value="numerosecreto" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
